<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-container *ngIf="this.Admin.isAdmin" class="ion-padding">
    <h2>Users</h2>

    <ion-list *ngIf="users.length > 0">
      <ion-item *ngFor="let user of users">

        <ion-label>
          <h3>{{ user.userName }}</h3>
          <p>{{ user.email }}</p>
          <p>{{ user.userId }}</p>
          <p>{{ user.isAdmin === 'true' ? 'Admin' : 'User' }}</p>
          <p>{{ user.isActive ? 'Active' : 'Inactive' }}</p>
        </ion-label>
        <ion-button color="danger" fill="solid" (click)="removeUser(user)">
          Remove
        </ion-button>
        <ion-button color="secondary" fill="solid" (click)="editUser(user)">
          Edit
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>Total Users: {{ users.length }}</ion-label>
    </ion-item>

    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ isEditing ? 'Edit User' : 'Add New User' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form #userForm="ngForm" (ngSubmit)="isEditing ? updateUser(userForm) : addUser(userForm)">
          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input placeholder="Enter Name" [(ngModel)]="newUser.userName" name="loginName" required></ion-input>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['loginName']?.valid">
              Name is required
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input placeholder="Enter Email" [(ngModel)]="newUser.email" name="loginEmail" type="email"
              required></ion-input>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['loginEmail']?.valid">
              Valid email is required
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Gender</ion-label>
            <ion-select [(ngModel)]="newUser.gender" name="gender" placeholder="Select Gender" required>
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['gender']?.valid">
              Gender is required
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Role</ion-label>
            <ion-segment [(ngModel)]="newUser.isAdmin" name="isAdmin" required>
              <ion-segment-button [value]=false>
                <ion-label>User</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]=true>
                <ion-label>Admin</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['isAdmin']?.valid">
              Role is required
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">State</ion-label>
            <ion-segment [(ngModel)]="newUser.isActive" name="isActive" required>
              <ion-segment-button [value]="true">
                <ion-label>Active</ion-label>
              </ion-segment-button>
              <ion-segment-button [value]="false">
                <ion-label>Inactive</ion-label>
              </ion-segment-button>
            </ion-segment>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['isActive']?.valid">
              State is required
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input placeholder="Enter Password" [(ngModel)]="newUser.pass" name="loginPass" type="password" required
              minlength="6"></ion-input>
            <ion-note color="danger" *ngIf="userForm.submitted && !userForm.controls['loginPass']?.valid">
              Password must be at least 6 characters
            </ion-note>
          </ion-item>

          <ion-item *ngIf="this.profileImageName">
            <ion-label position="stacked">Image</ion-label>
            <p>{{ this.profileImageName }}</p>
          </ion-item>

          <ion-item *ngIf="profileImage">
            <ion-label position="stacked">Profile Picture Preview</ion-label>
            <img [src]="profileImage" alt="Profile Preview" class="profile-preview" />
          </ion-item>

          <ion-buttons>
            <ion-button expand="full" color="primary" type="submit">
              {{ isEditing ? 'Update User' : 'Add User' }}
            </ion-button>

            <!-- Button to trigger profile picture file input -->
            <ion-button *ngIf="isEditing" color="primary" (click)="profileFileInput.click()">
              <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
              Choose Picture
            </ion-button>
          </ion-buttons>

        </form>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Upload Video</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Display selected file name -->
        <p *ngIf="selectedFileName" class="file-name">Selected File: {{ selectedFileName }}</p>

        <!-- Hidden file input for video -->
        <input type="file" (change)="onFileSelected($event)" accept="video/*" #videoFileInput hidden />

        <!-- Buttons placed side by side -->
        <div class="button-container">
          <ion-button color="primary" (click)="videoFileInput.click()">
            <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
            Upload Video
          </ion-button>

          <ion-button color="secondary" [disabled]="!selectedFile" (click)="uploadVideo()">
            <ion-icon name="cloud-done-outline" slot="start"></ion-icon>
            Confirm Upload
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Activity Logs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let log of activityLogs">
            <ion-label>{{ log }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Hidden file input for profile picture -->
    <input type="file" (change)="onProfileSelected($event)" accept="image/*" #profileFileInput hidden />
  </ng-container>
</ion-content>