<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button>
    </ion-menu-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>



    <!-- User Section -->

  <!-- <ng-container *ngIf="!this.Admin.isAdmin" class="ion-padding"> -->
    <!-- <div class="profile-container"> -->
      <!-- <img [src]="profileImage" alt="Profile Picture" *ngIf="profileImage" /> -->
       <!-- <p>{{ this.Admin.profilePicture }}</p>
      <img src="{{ this.Admin.profilePicture }}" alt="Default Profile Picture" *ngIf="this.Admin.profilePicture" />
      <ion-button expand="block" (click)="fileInput.click()">Upload Profile Picture</ion-button>
      <input type="file" accept="image/*" #fileInput (change)="onProfileSelected($event)" hidden />
    </div> -->

  <!-- </ng-container> -->
  
</ion-content>
