<ion-app>
  <ion-tabs *ngIf="isLoggedIn">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" class="home-icon"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline" class="settings-icon"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <img [src]="profile.profilePicture" 
             alt="Profile Picture"
             class="profile-picture" />
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-router-outlet *ngIf="!isLoggedIn"></ion-router-outlet>
</ion-app>