<ion-toolbar>
  <ion-buttons slot="start">
    <!-- <ion-icon slot="icon-only" name="person-circle"></ion-icon> -->
    <ion-menu-button>
    </ion-menu-button>
  </ion-buttons>
</ion-toolbar>


<ion-content>
  <ng-container *ngIf="this.getList",>
  <ion-card *ngFor="let video of this.videoList" (click)="this.navigateToPlayer(video)">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{video.title}}</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <!-- <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content> -->

  </ion-card>
</ng-container>

  
</ion-content>
